/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3tutorial/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../app/stylesheets/partials/_base.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 6, ../../app/stylesheets/partials/_base.scss */
a img {
  border: 0;
}

/* line 10, ../../app/stylesheets/partials/_base.scss */
#header {
  background: #6a7176;
  background: -webkit-gradient(linear, left top, left bottom, from(#6a7176), to(#4d5256));
  background: -moz-linear-gradient(-90deg, #6a7176, #4d5256);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6a7176, endColorstr=#4d5256);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6a7176, endColorstr=#4d5256);
  border-bottom: 1px solid #44484b;
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  text-shadow: black 0 1px 0;
  position: relative;
  z-index: 900;
}

/* line 25, ../../app/stylesheets/partials/_base.scss */
ul#primary-nav {
  text-align: right;
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-position: 13px 6px;
  margin: 0;
  padding: 1em 1em 1em 40px;
  color: white;
  font-weight: bold;
}

/* line 35, ../../app/stylesheets/partials/_base.scss */
ul#primary-nav li {
  padding: 0 0.5em;
  display: inline;
}

/* line 39, ../../app/stylesheets/partials/_base.scss */
ul#primary-nav li a {
  color: white;
  text-decoration: none;
}

/* line 43, ../../app/stylesheets/partials/_base.scss */
ul#primary-nav li.root {
  float: left;
  font-size: large;
}

/* line 47, ../../app/stylesheets/partials/_base.scss */
ul#primary-nav li.secondary {
  position: relative;
  background: #333333 url("/images/collapse.png") no-repeat right;
  padding: 0.4em 18px 0.4em 0.4em;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

/* line 54, ../../app/stylesheets/partials/_base.scss */
ul#primary-nav li.secondary ul {
  visibility: hidden;
}

/* line 57, ../../app/stylesheets/partials/_base.scss */
ul#primary-nav li.secondary:hover ul {
  visibility: visible;
}

/* line 60, ../../app/stylesheets/partials/_base.scss */
ul#primary-nav li.secondary ul {
  padding: 0.3em;
  position: absolute;
  left: 0;
  top: 1.7em;
  background-color: #333;
  border-radius: 0px 5px 5px 5px;
  -moz-border-radius: 0px 5px 5px 5px;
}

/* line 68, ../../app/stylesheets/partials/_base.scss */
ul#primary-nav li.secondary ul li {
  white-space: nowrap;
  text-align: left;
  display: block;
}

/* line 74, ../../app/stylesheets/partials/_base.scss */
#title_bar {
  background: #efefef;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dfe1e2));
  background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  text-shadow: white 0 1px 0;
  border-bottom: 1px solid #ededed;
  padding: 5px 10px 3px 10px;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 140%;
  margin-bottom: 0.5em;
  color: #5e6469;
  position: relative;
  margin: 0;
  padding: 10px 1em;
}

/* line 96, ../../app/stylesheets/partials/_base.scss */
#title_bar h1 {
  font-size: 2em;
  margin: 0.3em 0;
}

/* line 101, ../../app/stylesheets/partials/_base.scss */
#main {
  margin: 1em;
}

/* line 105, ../../app/stylesheets/partials/_base.scss */
html.stories, html.stories body, html.stories div#main {
  height: 100%;
}

/* stories table */
/* line 110, ../../app/stylesheets/partials/_base.scss */
table.stories {
  width: 100%;
  height: 100%;
  border-spacing: 5px 0;
}

/* line 116, ../../app/stylesheets/partials/_base.scss */
table.stories td {
  vertical-align: top;
  background-color: #ccc;
}

/* line 121, ../../app/stylesheets/partials/_base.scss */
div.storycolumn {
  overflow: auto;
  padding-bottom: 80px;
}

/* Story columns headers */
/* line 127, ../../app/stylesheets/partials/_base.scss */
table.stories th {
  background: #6a7176;
  background: -webkit-gradient(linear, left top, left bottom, from(#6a7176), to(#4d5256));
  background: -moz-linear-gradient(-90deg, #6a7176, #4d5256);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6a7176, endColorstr=#4d5256);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6a7176, endColorstr=#4d5256);
  color: #eee;
  padding: 0.2em;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
}

/* Story types */
/* line 141, ../../app/stylesheets/partials/_base.scss */
div.story {
  padding: 0.3em;
  background-repeat: no-repeat;
  background-position: 4px 4px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}

/* line 148, ../../app/stylesheets/partials/_base.scss */
div.story:hover {
  background-color: #ddd;
}

/* line 152, ../../app/stylesheets/partials/_base.scss */
div.story-icons {
  float: left;
}

/* line 155, ../../app/stylesheets/partials/_base.scss */
div.story-title {
  margin-left: 65px;
}

/* line 158, ../../app/stylesheets/partials/_base.scss */
.unestimated div.story-title {
  font-style: italic;
}

/* line 161, ../../app/stylesheets/partials/_base.scss */
div.story-title abbr.initials {
  color: green;
  font-weight: bold;
  margin-left: 0.2em;
  border: none;
}

/* line 170, ../../app/stylesheets/partials/_base.scss */
#in_progress div.story-title,
#backlog div.story-title,
#chilly_bin div.story-title {
  cursor: move;
}

/* line 174, ../../app/stylesheets/partials/_base.scss */
span.estimate {
  border: 1px solid #777;
  padding: 0 0.2em;
  margin: 0 2px 0 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  vertical-align: top;
  font-size: x-small;
  font-weight: bold;
  font-style: italic;
}

/* line 188, ../../app/stylesheets/partials/_base.scss */
span.estimate_2 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, #fab69b), color-stop(0.25, white));
  background-image: -moz-linear-gradient(center bottom, #fab69b 25%, white 25%);
}

/* line 202, ../../app/stylesheets/partials/_base.scss */
span.estimate_3 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.375, #fab69b), color-stop(0.375, white));
  background-image: -moz-linear-gradient(center bottom, #fab69b 37.5%, white 37.5%);
}

/* line 216, ../../app/stylesheets/partials/_base.scss */
span.estimate_4 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #fab69b), color-stop(0.5, white));
  background-image: -moz-linear-gradient(center bottom, #fab69b 50%, white 50%);
}

/* line 230, ../../app/stylesheets/partials/_base.scss */
span.estimate_5 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.625, #fab69b), color-stop(0.625, white));
  background-image: -moz-linear-gradient(center bottom, #fab69b 62.5%, white 62.5%);
}

/* line 244, ../../app/stylesheets/partials/_base.scss */
span.estimate_6 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.75, #fab69b), color-stop(0.75, white));
  background-image: -moz-linear-gradient(center bottom, #fab69b 75%, white 75%);
}

/* line 258, ../../app/stylesheets/partials/_base.scss */
span.estimate_7 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.875, #fab69b), color-stop(0.875, white));
  background-image: -moz-linear-gradient(center bottom, #fab69b 87.5%, white 87.5%);
}

/* line 272, ../../app/stylesheets/partials/_base.scss */
span.estimate_8 {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, #fab69b), color-stop(1, white));
  background-image: -moz-linear-gradient(center bottom, #fab69b 100%, white 100%);
}

/* line 287, ../../app/stylesheets/partials/_base.scss */
.story.release {
  background-color: #333;
  color: white;
}

/* line 291, ../../app/stylesheets/partials/_base.scss */
.story.release:hover {
  background-color: #222;
}

/* Story action buttons */
/* line 296, ../../app/stylesheets/partials/_base.scss */
.state-actions {
  float: right;
  margin-left: 0.2em;
}

/* line 301, ../../app/stylesheets/partials/_base.scss */
.state-actions form div, .state-actions form {
  display: inline;
}

/* Iteration markers */
/* line 306, ../../app/stylesheets/partials/_base.scss */
.iteration {
  background: black url("/images/iteration.png") no-repeat 2px center;
  color: #ddd;
  padding: 0.2em 0.2em 0.2em 20px;
}

/* line 311, ../../app/stylesheets/partials/_base.scss */
.iteration .points {
  float: right;
}

/* line 315, ../../app/stylesheets/partials/_base.scss */
.state-actions input {
  padding: 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #333;
  cursor: pointer;
  font-size: small;
}

/* line 325, ../../app/stylesheets/partials/_base.scss */
.state-actions input.start {
  background-color: #d3d7cf;
}

/* line 328, ../../app/stylesheets/partials/_base.scss */
.state-actions input.finish {
  background-color: #729fcf;
}

/* line 331, ../../app/stylesheets/partials/_base.scss */
.state-actions input.deliver {
  background-color: #edd400;
}

/* line 334, ../../app/stylesheets/partials/_base.scss */
.state-actions input.accept {
  background-color: #73d216;
}

/* line 337, ../../app/stylesheets/partials/_base.scss */
.state-actions input.reject {
  background-color: #ef2929;
}

/* line 340, ../../app/stylesheets/partials/_base.scss */
.state-actions input.restart {
  background: #ef2929 url("/images/redo.png") no-repeat;
  padding-left: 16px;
}

/* line 345, ../../app/stylesheets/partials/_base.scss */
img.expand, img.collapse {
  cursor: pointer;
}

/* line 349, ../../app/stylesheets/partials/_base.scss */
table#import tr.valid, .notice {
  color: white;
  background-color: green;
}

/* line 353, ../../app/stylesheets/partials/_base.scss */
table#import tr.invalid, .alert {
  color: white;
  background-color: red;
}
